# DATABASES
install packages mysql-connector-python

In [1]:
! pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\antho\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (8.4.0)

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: C:\Users\antho\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

## Connecting to the database

In [2]:
import mysql.connector

dbconnection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)

cursor = dbconnection.cursor()
print(dbconnection.database)
#do stuff
cursor.close()
dbconnection.close()

movies_db

## CREATE OPERATION

In [ ]:
import mysql.connector

dbconnection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)

cursor = dbconnection.cursor()

query = "INSERT INTO actors(name) VALUES('Jason Statham');"
cursor.execute(query)
dbconnection.commit()

cursor.close()
dbconnection.close()

In [ ]:
import mysql.connector

dbconnection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)

cursor = dbconnection.cursor()

query = "INSERT INTO actors(name) VALUES(%s);"
data = [["Leonardo Dicaprio"], ["Leonardo DaVinci"], ["Brad Pitt"], ["Matthew McConaughey"], ["Christen Bale"], 
        ["Kevin Hart"], ["Denzel Washington"], ["Margot Robbie"]]

cursor.executemany(query, data)
dbconnection.commit()

cursor.close()
dbconnection.close()

In [6]:
import mysql.connector

dbconnection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)

cursor = dbconnection.cursor()

query = "INSERT INTO movies(title, synopsis) VALUES(%s, %s)"
data = ("The Matrix", "Computer hackers learns about mysterious rebels and true nature of reality, big war!")

cursor.execute(query, data)

movies = [("The Maze Runner", "Trapped in a maze, have to get out or DIE"),
          ("Venom", "Aliens attacking, astronauts and some other stuff"),
          ("Madagascar", "Four spoiled animals from NY central zoo escaped, and let's not forget the penguins"),
          ("Jurassic Park", "Scientists create theme park with cloned dinosaurs, shit hits the fan!")]

#insert every movie
for movie in movies:
    cursor.execute(query, movie)

dbconnection.commit()

cursor.close()
dbconnection.close()

## READ OPERATION

In [ ]:
import mysql.connector

dbconnection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)

cursor = dbconnection.cursor()

# query = "select * from actors;"
# cursor.execute(query)

cursor.execute("select * from actors;")

data = cursor.fetchall()
print(data)

for actor in data:
    print(actor)

for actor in data:
    print(actor[1])

for id, name in data:
    print(id, name)

cursor.close()
dbconnection.close()

[(1, 'Michelle Yeoh'), (2, 'Stephan James'), (3, 'Jamie Lee Curtis'), (4, 'Tom Cruise'), (5, 'Jason Statham'), (6, 'Leonardo Dicaprio'), (7, 'Leonardo DaVinci'), (8, 'Brad Pitt'), (9, 'Matthew McConaughey'), (10, 'Christen Bale'), (11, 'Kevin Hart'), (12, 'Denzel Washington'), (13, 'Margot Robbie')]
(1, 'Michelle Yeoh')
(2, 'Stephan James')
(3, 'Jamie Lee Curtis')
(4, 'Tom Cruise')
(5, 'Jason Statham')
(6, 'Leonardo Dicaprio')
(7, 'Leonardo DaVinci')
(8, 'Brad Pitt')
(9, 'Matthew McConaughey')
(10, 'Christen Bale')
(11, 'Kevin Hart')
(12, 'Denzel Washington')
(13, 'Margot Robbie')
Michelle Yeoh
Stephan James
Jamie Lee Curtis
Tom Cruise
Jason Statham
Leonardo Dicaprio
Leonardo DaVinci
Brad Pitt
Matthew McConaughey
Christen Bale
Kevin Hart
Denzel Washington
Margot Robbie
1 Michelle Yeoh
2 Stephan James
3 Jamie Lee Curtis
4 Tom Cruise
5 Jason Statham
6 Leonardo Dicaprio
7 Leonardo DaVinci
8 Brad Pitt
9 Matthew McConaughey
10 Christen Bale
11 Kevin Hart
12 Denzel Washington
13 Margot Robbie

In [16]:
import mysql.connector

dbconnection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)

cursor = dbconnection.cursor()

query = """select movies.title, actors.name
            from movies
                inner join movie_actor on movies.id = movie_actor.movie_id
                inner join actors on actors.id = movie_actor.actor_id;"""

cursor.execute(query)
data = cursor.fetchall()

for row in data:
    print(row)

for movie, actor in data:
    print(actor, "played in", movie)

cursor.close()
dbconnection.close()

('Everything Everywhere All at Once', 'Michelle Yeoh')
('Everything Everywhere All at Once', 'Stephan James')
('Everything Everywhere All at Once', 'Jamie Lee Curtis')
('Top Gun: Maverick', 'Tom Cruise')
Michelle Yeoh played in Everything Everywhere All at Once
Stephan James played in Everything Everywhere All at Once
Jamie Lee Curtis played in Everything Everywhere All at Once
Tom Cruise played in Top Gun: Maverick